@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter Text below</label>
            <textarea class="form-control" id="print-text" rows="3"></textarea>
            <button type="button" id="print" class="btn btn-primary btn-block border-top">Send Print</button>
        </div>
    </div>
